/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title-page{
    font-size: xx-large !important;
    margin: 2rem !important;
}

.container {
    margin: 3rem !important;
    @media (max-width: 768px) {
        margin: 1rem !important;
    }
}